@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive !important;
}

nav {
    background-color: black;
}

.bg-red {
    background: red !important;
    color: white !important;
}

.bg-transparent {
    background-color: transparent;
    border: 1px solid white !important;
    color: white !important;
}